body { background:var(--background); }
#picker { background-color:var(--b_inv) ; color:var(--f_inv); }
#picker:before { color:var(--f_med); }
#picker input::placeholder { color:var(--f_med; }
.fh { color:var(--f_high); stroke:var(--f_high); }
.fm { color:var(--f_med); stroke:var(--f_med); }
.fl { color:var(--f_low); stroke:var(--f_low); }
.f_inv { color:var(--f_inv); stroke:var(--f_inv); }
.bh { background:var(--b_high); }
.bm { background:var(--b_med); }
.bl { background:var(--b_low); }
.b_inv { background:var(--b_inv); }
.icon { color:var(--f_high); stroke:var(--f_high); }
