:root {
  font-family: serif;
  background-color: #000000;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

body {
  padding: 30px;
  font-size: 16px;
}

body>* {
  margin-bottom: 25px;
}

body>*>* {
  margin-bottom: 25px;
}

table td,
table th {
  vertical-align: top;
  padding: 2.5px 5px;
  text-align: left;
  border: 1px solid
}

table td>pre,
table th>pre {
  border: 1px solid
  background: none;
  padding: 0;
  margin: 0;
}

header {
  float: left;
  margin: 2px 30px 30px 0;
}

nav {
  margin: 0 0 30px;
}

nav ul {
  padding: 0;
  margin: 0 45px 30px 0;
  float: left;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 1px 4px;
}

nav ul li a:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

main {
  max-width: 624px;
  clear: both;
}

main figure:first-child img {
  margin-left: -30px;
  max-width: 100vw;
  width: 800px;
}

main figure>* {
  margin-bottom: 25px;
}

main figure figcaption {
  max-width: 400px;
}

main h2 {
  max-width: 400px;
}

main h4 {
  font-style: italic;
  font-weight: normal;
  line-height: 24px;
  text-decoration: underline dotted;
  max-width: 400px;
}

main ul,
main ol {
  margin: 0 30px 30px 30px;
}

main ul ul {
  margin-bottom: 0;
}

main p {
  line-height: 160%;
}

main a {
  text-decoration: underline;
}

main a:hover,
::selection {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

main a strong:hover,
::selection {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

main q {
  font-family: serif;
  font-size: 18px;
  font-style: italic;
  display: block;
  max-width: 400px;
}

main img,
main svg {
  max-width: 100%;
  display: inline-block;
  margin: 0 0 25px;
}

main pre {
  overflow: auto;
  background: #000;
  padding: 10px;
  font-size: 80%;
  margin-bottom: 20px;
  max-height: 700px;
}

main code {
  white-space: pre;
}

main article {
  font-family: monospace;
}

main hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  border-top: 1.5px solid;
  padding: 30px 0 0 0;
  clear: both;
}

footer img {
  margin: 0 0 -10px 0;
  width: 30px;
}

footer>* {
  display: inline-block;
  margin-right: 5px;
}

blockquote>p {
  color: white;
  background: black;
  padding: 0.5em 10px;
  font-family: italic;
  font-size: 15px;
}

blockquote::selection {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

main>ul li {
  line-height: 150%;
}

.poem {
  font-family: serif;
  font-style: italic;
  font-size: 18px;
  line-height: 160%;
  margin: 0 0 30px 0;
  background: none;
  padding: 0;
  margin: 0;
}
input[type=text] {
  font-color: #000;
}
