        body {
            font-family: "Archivo", sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            color: #fff;
            cursor: crosshair;
            background-color: #000;
        }

        .navbar {
            background-color: #000;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            max-width: 40px;
            height: 40px;
            cursor: cell;
        }

        .header-image {
            width: 100%;
            height: 400px;
            background-size: cover;
            background-position: center;
            background-image: url("/static/site/fractal-maths.png");
            filter: grayscale(100%);
        }

        .cover-image-container {
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
        }

        .cover-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center right;
        }

        .content {
            display: flex;
            flex: 1;
            padding: 16px;
        }

        a {
            color: #007bff;
        }

        .sidebar {
            background-color: #000;
            padding: 1rem;
            width: 260px;
            color: #fff;
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            width: 260px; 
        }

        .sidebar ul li {
            margin-bottom: 0.5rem;
        }

        .sidebar a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
            cursor: cell;
        }

        .sidebar a:hover {
            color: #0056b3;
            text-decoration: underline;
        }

        .main {
            flex: 1;
            padding: 1rem;
            line-height: 1.49;
            word-spacing: 1px;
        }

        .footer {
            background-color: #fff;
            color: #000;
            text-align: center;
            padding: 1rem;
            border: 1px solid white;
        }

       img {
           width: 100%;
           height: auto;
       }

        .two-column-navbar {
            display: flex;
            background-color: #000;
            padding: 1rem;
            color: #fff;
        }

        .navbar-column {
            flex: 1;
            padding: 0 1rem;
        }

        .navbar-column h3 {
            margin-top: 0;
        }

        .navbar-column ul {
            list-style-type: none;
            padding: 0;
        }

        .navbar-column ul li {
            margin-bottom: 0.5rem;
        }

        .navbar-column a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .navbar-column a:hover {
            color: #0056b3;
            text-decoration: underline;
        }


        @media (max-width: 768px) {
            .content {
                flex-direction: column;
            }

            .sidebar {
                width: auto;
                order: -1;
            }

            .header-image {
                height: 200px;
            }

            .navbar {
                padding: 0.5rem;
            }

            .logo {
                max-width: 80px;
            }

            .sidebar, .main {
                padding: 0.5rem;
            }
            img {
                width: 100%;
                height: auto;
                background-size: cover;
                background-position: center;
            }
           .two-column-navbar {
                flex-direction: column;
            }

           .cover-image-container {
                height: 200px;
            }
           .navbar-column {
                padding: 0;
                margin-bottom: 1rem;
            }
        }

blockquote {
  padding: .25rem 1rem;
  background-color: #000011;
  border-left: .25rem solid #007bff;
  margin: 0 0 1rem;
  color: #fff;
  font-style: oblique;
}
pre {
  position: relative;
  overflow: auto;
  padding: 1rem;
  background: #000011;
  font-size: .85rem;
  line-height: 1.36;
}

pre > code {
  overflow: visible;
  padding: 0;
  border-radius: 0;
  background: transparent;
  font-size: inherit;
}
table {
  display: block;
  max-width: 100%;
  margin:1rem;
  border-collapse: collapse;
  border-spacing: 0;
  inline-size: fit-content;
  overflow-x: auto;
}
th, td {
  padding: 0.4rem;
  border: 1px solid #007bff;
}

th {
  border-color: #007bff;
  background: transparent;
  font-weight: bold;
}
p {
    margin-bottom: 10px;
}
br {
    display: block;
}
