<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head.html" . }}
    <title>Wunder-{{ index .Meta "title" }}</title>
  </head>
  <body>

    <header class="header-image" style="background-image: url('{{ index .Meta "himg" }}');" role="img" aria-label="Wunder"></header>

    <nav class="navbar">
  <a href="index.html"
    ><img src="static/site/Trigon.jpg" alt="SpaceMan" height="60px" width="60px" alt="Logo" class="logo"></a>
    </nav>
    
    <div class="content">
        <aside class="sidebar">
          <h2>{{ index .Meta "desc" }}</h2><hr>
                  {{ template "nav.html" . }}
                  </aside>
      <div class="main-content">
      <main class="main">
   {{ .Body }}
      </main>
         <nav class="two-column-navbar" aria-label="Secondary Navigation">
                <div class="navbar-column">
                  <h3>Current</h3>
                  <hr>
    {{ if .Nav.Current }} {{ if lt ( len .Nav.Current ) 7 }}<ul>
    {{ range $_, $element := .Nav.Current }}
    <li><a href="{{ $element.Href }}">{{ $element.Name }}</a></li>
    {{ end }} {{ end }}</ul>  
    {{ end }}
</div>
           <div class="navbar-column">
             <h3>Child</h3>
             <hr>
    {{ if .Nav.Child }} {{ if lt ( len .Nav.Child ) 7 }}<ul>
    {{ range $_, $element := .Nav.Child }}
    <li><a href="{{ $element.Href }}">{{ $element.Name }}</a></li>
    {{ end }} {{ end }}</ul>
    {{ end }}
           </div>
         </nav>
      </div>
    </div>

<footer class="footer">
        <p>Hello There!</p>
    </footer>
    <script>
const theme = new Theme();
theme.install(document.body);
theme.start();
theme.onLoad = callback
    </script>
    <script src="/static/site/oneko.js"></script>
  </body>
</html>
