<header>
  <a href="index.html"
    ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrCbedH68mjoXBbwH0ClKGQSuv3AhmEHMxIA&s" alt="SpaceMan" height="80" width="100"/></a>
</header>
<nav>{{ if .Nav.Parent }} {{ if lt ( len .Nav.Parent ) 7 }}
	<ul>
    {{ range $_, $element := .Nav.Parent }}
    <li><a href="{{ $element.Href }}">{{ $element.Name }}</a></li>
    {{ end }} {{ end }}
    </ul>
  {{ end }} {{ if .Nav.Current }} {{ if lt ( len .Nav.Current ) 7 }}<ul>
    {{ range $_, $element := .Nav.Current }}
    <li><a href="{{ $element.Href }}">{{ $element.Name }}</a></li>
    {{ end }} {{ end }}</ul>
  {{ end }} {{ if .Nav.Child }} {{ if lt ( len .Nav.Child ) 7 }}<ul>
    {{ range $_, $element := .Nav.Child }}
    <li><a href="{{ $element.Href }}">{{ $element.Name }}</a></li>
    {{ end }} {{ end }}</ul>
  {{ end }}
</nav>
